include configurations.pug 
doctype html
html(lang="en")
    include templates/head.pug
        title #{empresa}: Envases Biodegradables Perú
        //- script (async src="js/popUp.js")
        script(async src="js/mobile.js") 
        script(async src="js/product.js")
        script(src="js/reutilizables.js")
        link(rel="stylesheet", href="css/slider/swiper-i-b.min.css")
        
        //-include templates/script.pug
        script(type="application/ld+json").
            {
                "@context": "https://schema.org",
                "@type": "ImageObject",
                "author": "Ecoestrategia Peruana",
                "contentLocation": "Lima, Perú",
                "contentUrl": "images/banner/EnvasesBiodegradablesEcoEstrategiaPeruanaOficial.png",
                "datePublished": "2022-07-05",
                "description": "Banner de productos de los mejores envases biodegradables de Perú",
                "name": "Banner de envases biodegradables"
            }
    body
        //- Google tag manager start here (noscript)
        noscript
                iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-W9F6BWW", height="0", width="0", style="display:none;visibility:hidden") 
        //- Google tag manager end here (noscript)
        //- Social Buttom (personal) start here
        include templates/social-buttom.pug
        //- Social Buttom (personal) end here
        //-Header start here
        include templates/header.pug
        //-Header end here
        //-Main start here
        main
            #h--1
                #b--i 
                    .main__web__background
                        img(src="images/banner/EnvasesBiodegradablesEcoEstrategiaPeruanaOficial.png", alt=" Banner envases biodegradables peru")
                        .main__web__background--text 
                            .main__web__background--text--1
                                h2 Envases Biodegradables de Caña de Azúcar para Alimentos en Perú
                            .main__web__background--text--2
                                img(src="images/logo/Icono_Eco_Estrategía_Peruana.png", alt="Logo de Eco Estrategia Peruana")
                                h3 Descuentos especiales por tu primera compra
                            .main__web__background--text--3
                                p Cotiza nuestros empaques y envases biodegradables para alimentos en Perú. Descubre los mejores tapers descartables ecológicos de caña de azúcar al mejor precio
                            .main__web__background--text--4 
                                h3 Solicitar  cotización
                            .main__web__background--text--5
                                i.fa-solid.fa-truck
                                h3 Despacho inmediato y gratuito a partir de S/. 300
                    //-.swiper.mySwiper
                        .swiper-wrapper
                            .swiper-slide: img(src="images/banner/Envases_Biodegradables_Eco_estrategia_peruana_Web.png", alt="")
                            .swiper-slide: img(src="images/banner/banner_producto.png", alt="")
                            .swiper-slide: img(src="images/banner/banner_producto.png", alt="")
                            .swiper-slide: img(src="images/banner/banner_producto.png", alt="")
                            .swiper-slide: img(src="images/banner/banner_producto.png", alt="")
                            .swiper-slide: img(src="images/banner/banner_producto.png", alt="")
                        .swiper-button-next-i-b
                        .swiper-button-prev
            #h--2
                #b--i--2
                    .why--our__i
                        .why__our__i__text-p
                            h2 ¿Por qué elegir Ecoestrategia Peruana?
                            p(class="why__our__i__text-p--1") Elegir Ecoestrategia peruana, es elegir confianza en tu empaque, calidad de servicio, puntualidad en entregas, continuidad de stock y variedad de soluciones ecológicas para tus necesidades. Nuestros envases descartables biodegradables, reciclables y compostables se adaptan al presupuesto de nuestros clientes. Con la finalidad de impulsar un delivery ecológico en la mayor cantidad de empresas peruanas, sin elevar presupuestos y mejorando la experiencia de sus clientes.
                            p(class="why__our__i__text-p--2") Nuestros despachos de pedidos son a Nivel nacional, contamos con logística propia, almacén para despacho inmediato, stock todo el año, un área especial para venta mayorista y otra para orientarte a elegir los productos idóneos para tu restaurante, hotel o cafetería. Nosotros somos el socio estratégico que necesitas, cotiza, llámanos o solicita tus muestras gratis.
                        .why--our__i__container
                            .why--our__i__cards.why--our__ir__cards--1
                                .w--o__i__c__img
                                    img(src="images/icons/fabrica_eco.svg", alt="Fabricación ecológica")
                                h4 Fabricación
                                p.w--o__i__c__text ¡No solo envases de caña! Contamos con más de 70 productos productos hecho de materiales, renovables, con menos carbono, reciclables y recuperables. 
                                .w--o__i__c__caction
                                    a(href="")  ¿Quieres saber más?
                                    i.fa-solid.fa-arrow-right
                            .why--our__i__cards.why--our__ir__cards--2
                                .w--o__i__c__img
                                    img(src="images/icons/soporte_support.svg", alt="Soporte de calidad")
                                h4 Soporte sin igual
                                p.w--o__i__c__text A través de nuestras redes sociales entérate de nuestra reposición de stock, promociones, packs de productos, descuentos y más.
                                .w--o__i__c__caction
                                    a(href="")  ¿Quieres saber más?
                                    i.fa-solid.fa-arrow-right
                            .why--our__i__cards.why--our__ir__cards--3
                                .w--o__i__c__img
                                    img(src="images/icons/certificaciones_eco.svg", alt="Certificaciones ecológicas")
                                h4 Certificaciones
                                p.w--o__i__c__text Contamos con certificaciones de todos nuestros productos, que garantizan los materiales de su fabricación y el contacto directo del producto con alimentos. 
                                .w--o__i__c__caction
                                    a(href="")  ¿Quieres saber más?
                                    i.fa-solid.fa-arrow-right
            #h--i--3
                #b--1--3
                    .customize__i
                        .customize__i--title
                        .customize__i--container
                            .customize__i--img: img(src="images/web_s/Personalizar_Logo_Imagen.png", alt="")
                            .customize__i--text
                                h2 Personaliza tu logo
                                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae inventore sit molestiae sint facere quos natus ratione, corrupti ex nemo! Enim officia tempora ducimus nemo impedit laudantium repudiandae aperiam quam.
                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum sapiente labore aperiam sed a veritatis harum neque voluptates provident minus similique dolorum voluptate, ipsum voluptatum magni dolore libero consequuntur. Earum.
                                .customize__i--caction
                                    a(href="")  ¿Quieres saber más?
                                    i.fa-solid.fa-arrow-right
            #h--i--4
                #h--1--4 
                    .notice__i
                        .notice__i--title
                        .notice__i--container
                            .notice__i--text
                                h2 Noticias Ecoestrategia Peruana
                                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae inventore sit molestiae sint facere quos natus ratione, corrupti ex nemo! Enim officia tempora ducimus nemo impedit laudantium repudiandae aperiam quam.
                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum sapiente labore aperiam sed a veritatis harum neque voluptates provident minus similique dolorum voluptate, ipsum voluptatum magni dolore libero consequuntur. Earum.
                                .notice__i--caction
                                    a(href="")  ¿Quieres saber más?
                                    i.fa-solid.fa-arrow-right
                            .notice__i--img: img(src="images/noticias/1280/beneficios-de-los-envases-biodegradables.png", alt="")
        //-Main end here
        //-Testimonials section starts here
        section.testimonials.testimonials--space
            h2.testimonials--title Lo que dicen de nuestros envases biodegradables
            p.testimonials--text >Nuestra mejor carta de presentación son nuestros clientes. Ellos confiaron en nuestros Empaques Descartables Ecológicos.
            .testimonials__container
                button.testimonials__container--previous(aria-label="Anterior")
                    img(loading="lazy", src="../images/landings/contenedores/desktop/arrow-left.svg",
                    alt="Icono de Flecha Izquierda para retroceder al Anterior")
                .testimonials__container--carousel
                    //- Slide 1
                    .testimonials__container--carousel--slide
                        picture
                            source(media="(max-width: 425px)",
                            srcset="../images/landings/contenedores/mobile/denis-wilmer.webp")
                            img(loading="lazy", src="../images/landings/contenedores/desktop/denis-wilmer.webp",
                            alt="Imagen de Nuestro Cliente Denis Wilmer Días, Jefe de Compras")
                        .lazy.star-t
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                        .testimonials__c--p
                            p.testimonials__container--carousel--slide--testimonial.testimonials__container--carousel--slide--one Me ayudarón a mejorar la presentación de mi delivery, cambiando envases de Tecnopor que son dañino para nuestros clientes con Envases Biodegradables.
                            p.testimonials__container--carousel--slide--name Denis Wilmer Díaz
                            p.testimonials__container--carousel--slide--charge Jefe de Compras
                    //- Slide 2
                    .testimonials__container--carousel--slide
                        picture 
                            source(media="(max-width: 425px)",
                            srcset="../images/landings/contenedores/mobile/sergio-bronstein.webp")
                            img(loading="lazy", src="../images/landings/contenedores/desktop/sergio-bronstein.webp",
                            alt="Imagen de Nuestro Cliente Sergio Bronstein, Gerente Comercial")
                        .lazy.star-t
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                        .testimonials__c--p
                            p.testimonials__container--carousel--slide--testimonial.testimonials__container--carousel--slide--two Utilizo sus tapers biodegradables en diferentes platos de mi restaurant. La calidad del envase es muy buena y tiene una tapa hermética en la cual no se filtra líquido.
                            p.testimonials__container--carousel--slide--name Sergio Bronstein
                            p.testimonials__container--carousel--slide--charge Gerente Comercial
                    //- Slide 3
                    .testimonials__container--carousel--slide
                        picture 
                            source(media="(max-width: 425px)",
                            srcset="../images/landings/contenedores/mobile/indira-valeska.webp")
                            img(loading="lazy", src="../images/landings/contenedores/desktop/indira-valeska.webp",
                            alt="Imagen de Nuestra Cliente Indira Valeska, Evaluadora de Proveedores")
                        .lazy.star-t
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                        .testimonials__c--p
                            p.testimonials__container--carousel--slide--testimonial.testimonials__container--carousel--slide--three Sus envíos son a tiempo y tienen variedad de productos. Personalmente compro los envases de caña de azúcar y sus empaques tienen muy buena estructura.
                            p.testimonials__container--carousel--slide--name Indira Valeska
                            p.testimonials__container--carousel--slide--charge Evaluadora de Proveedores
                    //- Slide 4
                    .testimonials__container--carousel--slide
                        picture 
                            source(media="(max-width: 425px)",
                            srcset="../images/landings/contenedores/mobile/maris-mendoza.webp")
                            img(loading="lazy", src="../images/landings/contenedores/desktop/maris-mendoza.webp",
                            alt="Imagen de Nuestro Clienta Maris Mendoza, Emprendedora")
                        .lazy.star-t
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                        .testimonials__c--p
                            p.testimonials__container--carousel--slide--testimonial.testimonials__container--carousel--slide--four Ahora mis postres realizados en casa los envío en Empaques y Envases Biodegradables, así mis clientes no contaminan el medio ambiente.
                            p.testimonials__container--carousel--slide--name Maris Mendoza
                            p.testimonials__container--carousel--slide--charge Emprendedora
                    //- Slide 5
                    .testimonials__container--carousel--slide
                        picture 
                            source(media="(max-width: 425px)",
                            srcset="../images/landings/contenedores/mobile/juan-pablo-mansilla.webp")
                            img(loading="lazy", src="../images/landings/contenedores/desktop/juan-pablo-mansilla.webp",
                            alt="Imagen de Nuestro Cliente Juan Pablo Mansilla, Administrador")
                        .lazy.star-t
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                        .testimonials__c--p
                            p.testimonials__container--carousel--slide--testimonial.testimonials__container--carousel--slide--five Lo mejor de Eco Estrategia Peruana es que es una empresa muy comprometida con sus clientes, no tardan en las entregas y tienen muy buenos precios.
                            p.testimonials__container--carousel--slide--name Juan Pablo Mansilla
                            p.testimonials__container--carousel--slide--charge Administrador
                    //- Slide 6
                    .testimonials__container--carousel--slide
                        picture 
                            source(media="(max-width: 425px)",
                            srcset="../images/landings/contenedores/mobile/nancy-zegarra.webp")
                            img(loading="lazy", src="../images/landings/contenedores/desktop/nancy-zegarra.webp",
                            alt="Imagen de Nuestro Clienta Nancy Zegarra, Gerenta de Logística")
                        .lazy.star-t
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star  
                        .testimonials__c--p
                            p.testimonials__container--carousel--slide--testimonial.testimonials__container--carousel--slide--six Son muy proactivos y tienen buenos precios. Antes utilizabamos envases de otro proveedor, pero sus envases ecológicos son más gruesos y resistentes.
                            p.testimonials__container--carousel--slide--name Nancy Zegarra
                            p.testimonials__container--carousel--slide--charge Gerenta de Logística
                    //- Slide 7
                    .testimonials__container--carousel--slide
                        picture 
                            source(media="(max-width: 425px)",
                            srcset="../images/landings/contenedores/mobile/alex-bicmer.webp")
                            img(loading="lazy", src="../images/landings/contenedores/desktop/alex-bicmer.webp",
                            alt="Imagen de Nuestro Cliente Alex Bicmer, Emprendedor")
                        .lazy.star-t
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star  
                        .testimonials__c--p
                            p.testimonials__container--carousel--slide--testimonial.testimonials__container--carousel--slide--seven Antes de cambiarme de envases plásticos a Biodegradables, vi muchas alternativas, escogí a Eco Estrategia Peruana por sus precios y la calidad de sus productos.
                            p.testimonials__container--carousel--slide--name Alex Bicmer
                            p.testimonials__container--carousel--slide--charge Emprendedor
                    //- Slide 8
                    .testimonials__container--carousel--slide
                        picture 
                            source(media="(max-width: 425px)",
                            srcset="../images/landings/contenedores/mobile/jose-torres.webp")
                            img(loading="lazy", src="../images/landings/contenedores/desktop/jose-torres.webp",
                            alt="Imagen de Nuestro Cliente José Torres, Emprendedor")
                        .lazy.star-t
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star 
                        .testimonials__c--p
                            p.testimonials__container--carousel--slide--testimonial.testimonials__container--carousel--slide--eight Yo revendo sus productos biodegradables en provincia. Me dan buenos precios y facilidades para realizar mis pedidos.
                            p.testimonials__container--carousel--slide--name José Torres
                            p.testimonials__container--carousel--slide--charge Emprendedor
                    //- Slide 9
                    .testimonials__container--carousel--slide
                        picture
                            source(media="(max-width: 425px)",
                            srcset="../images/landings/contenedores/mobile/omar-armando-moreno.webp")
                            img(loading="lazy", src="../images/landings/contenedores/desktop/omar-armando-moreno.webp",
                            alt="Imagen de Nuestro Cliente Omar Armando Moreno, Dueño de Restaurant")
                        .lazy.star-t
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star 
                        .testimonials__c--p
                            p.testimonials__container--carousel--slide--testimonial.testimonials__container--carousel--slide--nine Sus tapers descartables para comida son muy resistentes y la apreciación por parte de mis clientes de sus productos es muy buena.
                            p.testimonials__container--carousel--slide--name Omar Armando Moreno
                            p.testimonials__container--carousel--slide--charge Dueño de Restaurant
                button.testimonials__container--after(aria-label="Siguiente")
                    img(loading="lazy", src="../images/landings/contenedores/desktop/arrow-right.svg",
                    alt="Icono de Flecha Derecha para avanzar al Siguiente")
                .testimonials__indicators(role="tablist")
        //-Testimonials section ends here
        //-Footer starts here
        include templates/footer.pug
        //-Footer ends here
        script(src="js/slider/swiper-i-b.min.js")
        //-script(async src="js/swiper.js")
        //-script(async src="js/popUp.js")
        script(async src="js/mobile.js")
        script(async src="js/product.js")
        script(src="js/reutilizables.js")
        script(src="js/index.js")
